
.cart__container {
height: 100vh;
display: flex;
flex-direction: column;
  align-items: center;
  justify-content: flex-start; 
  animation: fadein 0.2s ease-in;
}

.cart__title {
  position: fixed;
   top: 80px;
  z-index: 100;
  height: 70px;
  width: 100%;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background: var(--black);
}

.cart__productList {
  padding-top: 150px;
  padding-bottom: 30px;
}

.cart__checkout {
  display: flex;
  flex-direction: column;
 align-items: center;
 height: 120px;
 width: 100%;
  background: var(--black);
  gap: 0.5rem;
}

.cart__checkout p {
  font-family: var(--secondaryFont);
  font-size: var(--fontSize-XS);
}

@media (min-width: 768px){
.cart__checkout span{
  font-size: var(--fontSize-S);
}

 .cart__title {
    top: 0;
    height: 120px;
 }

.cart__productList {
  padding-top: 180px;
  padding-bottom: 50px;
}

/*för at få checkout fixed, precis som title*/

/*
.cart__checkout {
  position: fixed;
  z-index: 100;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 20px;

} */
}