.hero {
  background: var(--black);
  background-image: url(../../../public/Media/media.backgrounds/background.1.jpg);
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 10vh;
  animation: fadein 0.2s ease-in;
}

.hero__title {
  color: var(--white);
  /* måste ha ett fast width värde (vw) i mitten av parentesen nedan för att texten ska kunna skalas mellan storlekar */
  font-size: clamp(3.5rem, 8vw, 20rem);
  text-align: center;
  line-height: 0.9;
  margin-bottom: 1rem;
}

.hero__slogan {
  color: var(--red);
  font-family: var(--accentFont);
  font-size: var(--fontSize-M);
  text-align: center;
  text-shadow: var(--shadow);
  margin-top: 2rem;
}

.hero__text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
}

/* .hero__mobile-text {
  color: var(--red);
  font-size: var(--fontSize-XS);
  text-shadow: var(--shadow);
} */

/* för att slippa se den vita blinkningen när man går från home till andra komponenter: */
.loading__background {
  background: var(--black);
  width: 100%;
  min-height: 100vh;
}

@media (min-width: 768px) {
  .hero__title {
    font-size: 5rem;
  }
  .hero__slogan {
    margin-top: 4rem;
  }
  .hero__mobile-text {
    display: none;
  }
}
@media (min-width: 1050px) {
  .hero__title {
    font-size: clamp(3.5rem, 8vw, 20rem);
  }
}
