.checkout__background {
  background-color: var(--black);
  background: url(../../../public/Media/media.backgrounds/background.4.Mobile.png);
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: fadein 0.2s ease-in;
}

@media (min-width: 768px) {
  .checkout__background {
    background-image: url(../../../public/Media/media.backgrounds/background.4.png);
  }
}
