.details__background {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: fadein 0.2s ease-in;
}

.details__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  max-width: 450px;
  gap: 0.5rem;
}

.details__image {
  width: 90%;
  object-fit: cover;
  border: 1px solid var(--grey);
  border-radius: 6px;
}

.details__row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  line-height: 1.2rem;
  gap: 0.5rem;
}

.details__row p {
  font-family: var(--secondaryFont);
  font-size: var(--fontSize-XS);
}

/* egen rad för price och btn */
.details__price {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  line-height: 1.6rem;
}

.details__model--mobile {
  text-align: center;
}

/* dölj desktop versionen av product.model */
.details__model--desktop {
  display: none;
}

.star--active path:last-child {
  fill: var(--red) !important;
}

.star--inactive path:last-child {
  fill: var(--grey) !important;
}

.star {
  position: fixed;
  top: 4rem;
  right: 1rem;
  z-index: 200;
}

.favorites__btn {
display: flex;
  align-items: center;
  justify-content: center;
  width: 44px; /*användarvänlighet*/
  height: 44px; /*användarvänlighet*/
  cursor: pointer;
}

@media (min-width: 500px) {
  .details__image {
    max-width: 80%;
  }
}

@media (min-width: 768px) {
  .details__container {
    flex-direction: row;
    align-items: stretch; /*för att få product.model och product.price i linje med bildens topp och botten*/
    min-width: 600px;
    max-width: 70%;
    gap: 5vw;
    padding-top: 10vh;
    padding-bottom: 10vh;
  }

  .details__text--content {
    flex: 1; /*detta betyder att elementet tar upp all tillgänglig plats som inte används av andra element i samma flex container - i detta fall flex 1 på details__text-container säger till details__container "ge mig all plats som bilden inte använder". details__text--content är ett av två barn till details__container och de måste dela plats*/
    display: flex;
    flex-direction: column;
  }

  .details__image {
    max-width: 50%;
    height: auto;
    object-fit: scale-down; /*vill att bilden ska skalas, inte ändra bredd eller höjd fritt*/
    width: auto;
    height: auto;
  }

  .details__container--text {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
  }

  .details__row {
    display: flex;
    justify-content: flex-start;
    text-align: left;
  }

  .details__price {
    margin-top: 0rem;
    justify-content: space-between;
  }

  /*dölj mobile verisonen av product.model*/
  .details__model--mobile {
    display: none;
  }

  .details__model--desktop {
    display: block;
    text-align: left;
    font-size: var(--fontSize-L);
  }
}

@media (min-width: 1000px) {
  .details__row p {
    font-size: var(--fontSize-XS);
  }

  .details__container--text {
    max-width: 500px;
    gap: 0.4rem;
  }

  .details__container {
    max-width: 60%;
  }
}

/* @media (min-width: 1300px) {
  .details__container {
    max-width: 60%;
  }
  .details__image {
    max-width: 525px;
  }
} */
