* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--primaryFont);
  color: var(--white);
}

/* ta bort standard-css för knappar */
button {
  appearance: none;
  background: transparent;
  border: none;
  padding: 0;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  cursor: pointer;
}

:root {
  --primaryFont: "Zen Dots", sans-serif;
  --secondaryFont: "Inter", sans-serif;
  --accentFont: "Bungee Hairline", sans-serif;

  --fontSize-XXS: 0.8rem;
  --fontSize-XS: 1rem;
  --fontSize-S: 1.25rem;
  --fontSize-M: 1.75rem;
  --fontSize-L: 2rem;

  --shadow: 1px 1px 3px #111010;
  --inputHeight: 1.6rem;

  --black: #111010;
  --white: #e6e6e6;
  --red: #fa051a;
  --grey: #d4d4d4;
}

#root {
  width: 100%;
}

html {
  font-size: 13px;
}

/*för att undvika vit bakgrund som syns bakom komponenter ibland*/
body {
  background: var(--black);
}

/*ICONS + BUTTONS------------------------------------------------------------------------------------------------------------------------*/

.btn__small {
  background: var(--red);
  color: var(--black);
  width: 11rem;
  height: 1.6rem;
  font-size: var(--fontSize-XXS);
  border-radius: 6px;
}

.btn__small:hover {
  background: var(--grey);
  color: var(--black);
}

/*när knappen är disabled*/
.btn__small:disabled {
  opacity: 0.5;
  cursor: default;
}

/*ingen hover effekt när knappen är disabled, behåller standardfärger ist för ändra färg när man hover*/
.btn__small:disabled:hover {
  background: var(--red);
  color: inherit;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px; /*användarvänlighet*/
  height: 44px; /*användarvänlighet*/
  cursor: pointer;
}

.btn__close {
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 200;
}

.btn__back {
  position: fixed;
  top: 1rem;
  left: 1rem;
  z-index: 200;
}

.trashCan {
  margin-left: 2rem;
}

.icon__close {
  font-size: var(--fontSize-M);
}

/*för att få färg på icon__close, den ikonen använder fill*/
.icon__close path:last-child {
  fill: var(--red);
}

/* tillbaka ikonen använder stroke för att ändra bakgrund */
.icon__back {
  stroke: var(--red);
  font-size: var(--fontSize-M);
}

.btn:hover .icon__back {
  stroke: var(--grey);
}

/*vill att färgen på icon__close ska ändras redan när man hover på knappen, inte bara genom att hover på ikonen (användarvänlighet)*/
.btn:hover .icon__close path:last-child {
  fill: var(--grey) !important;
}

.btn:hover .icon {
  fill: var(--red);
}

/*ERROR-------------------------------------------------------------------------------------------------------------------------*/

.errorMessage {
  font-size: var(--fontSize-XXS);
  color: var(--red) !important;
}

.inputField__error {
  border-color: var(--red);
}

/*ANIMATIONER-------------------------------------------------------------------------------------------------------------------*/

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
