.loginCard {
      display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.loginCard__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  max-width: 600px;
  min-height: 400px;
  gap: 60px;
}

.loginCard__div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.loginCard__title {
  text-align: center;
  width: 100%;
  font-size: var(--fontSize-M);
}

.loginCard__div p {
    font-family: var(--secondaryFont);
    color: var(--grey);
}

.loginCard__link {
    font-family: var(--secondaryFont);
    color: var(--white);
}

.loginCard__wrapper {
     display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  height: 50px;
}

.loginCard__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.loginCard__inputField {
  background: transparent;
  border: 1px solid var(--grey);
  border-radius: 6px;
  height: var(--inputHeight);
  width: 350px;
  text-align: center;
}

.loginCard__inputField::placeholder {
  text-align: center;
}

.loginCard__button {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}


@media (min-width: 768px) {
  .loginCard__title {
    font-size: var(--fontSize-L);
  }
  .loginCard__inputField {
    width: 400px;
  }
  .loginCard__container {
    padding-top: 0rem;
    max-width: 60%;
  }
}

.loginCard__inputField--error {
  border-color: var(--red);
}

@media (min-width: 860px) {
  .loginCard__container {
    width: 60%;
    max-width: 70%;
  }
  .loginCard__buttons {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }
}
