* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--primaryFont);
  color: var(--white);

  /* ta bort standard-css för knappar */
  button {
    appearance: none;
    background: transparent;
    border: none;
    padding: 0;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    cursor: pointer;
  }
}

:root {
  --primaryFont: "Zen Dots", sans-serif;
  --secondayFont: "Inter", sans-serif;
  --accentFont: "Bungee Hairline", sans-serif;

  --fontSize-XXS: 0.8rem;
  --fontSize-XS: 1rem;
  --fontSize-S: 1.25rem;
  --fontSize-M: 1.75rem;

  --shadow: 1px 1px 3px #111010;

  --black: #111010;
  --white: #e6e6e6;
  --red: #a3111b;
  --grey: #a1a1a1;
}

#root {
  width: 100%;
}

html {
  font-size: 16px;
}

/*för att undvika vit bakgrund som syns bakom komponenter ibland*/
body {
  background: var(--black);
}

/* HERO---------------------------------------------------------------------------------------------------------------------- */

.hero {
  background: var(--black);
  background-image: url(../public/Media/media.backgrounds/background.1.jpg);
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 10vh;
}

.hero__title {
  color: var(--white);
  /* måste ha ett fast width värde (vw) i mitten av parentesen nedan för att texten ska kunna skalas mellan storlekar */
  font-size: clamp(3.5rem, 8vw, 20rem);
  text-align: center;
  line-height: 0.9;
  margin-bottom: 1rem;
}

.hero__slogan {
  color: var(--red);
  font-family: var(--accentFont);
  text-align: center;
  text-shadow: var(--shadow);
  margin-top: 2rem;
}

.hero__text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.hero__mobile-text {
  color: var(--red);
  font-size: var(--fontSize-XS);
  text-shadow: var(--shadow);
}

/* för att slippa se den vita blinkningen när man går från home till andra komponenter: */
.loading__background {
  background: var(--black);
  width: 100%;
  min-height: 100vh;
}

@media (min-width: 768px) {
  .hero__title {
    font-size: 5rem;
  }
  .hero__slogan {
    margin-top: 4rem;
  }
  .hero__mobile-text {
    display: none;
  }
}
@media (min-width: 1050px) {
  .hero__title {
    font-size: clamp(3.5rem, 8vw, 20rem);
  }
}

/* NAVBAR---------------------------------------------------------------------------------------------------------------- */

.navbar {
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120px;
  z-index: 100;
  align-items: center;
}

.navbar--dark {
  background: var(--black);
}

.navbar__mobile--container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 5vh;
}

.navbar__mobile--text,
.navbar__text {
  padding: 1rem;
  color: var(--red);
  font-size: var(--fontSize-XS);
  text-shadow: var(--shadow);
}

.navbar__mobile--text:hover,
.navbar__text:hover {
  color: var(--grey);
  cursor: pointer;
}

.navbar__container {
  display: none;
}

/* link, fast i css heter det ändå a: */
a {
  text-decoration: none;
}

@media (min-width: 768px) {
  .navbar__mobile--container {
    display: none;
  }
  .navbar__container {
    display: flex;
    flex-direction: column;
    margin-left: 2vw;
  }
  .navbar {
    display: flex;
    align-items: center;
    width: 200px;
    height: 100vh;
  }
  .navbar--dark {
    background: transparent;
  }
}

/* PRODUCTCARD---------------------------------------------------------------------------------------------------- */

.products__background {
  background: var(--black);
  width: 100%;
  min-height: 100vh;
}

.products__layout {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
  position: relative;
}

.product__list {
  background: var(--black);
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
}

.product__container {
  width: 80%;
  background: var(--black);
  display: flex;
  flex-direction: column;
  gap: 0.25rem; /*lite luft mellan title, image och price */
}

.product__title {
  font-size: var(--fontSize-S);
  height: 5rem;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.product__price {
  font-family: var(--secondayFont);
  font-size: var(--fontSize-XS);
}

.product__image {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  border: 1px solid var(--grey);
  border-radius: 6px;
}

.product__container:hover .product__title,
.product__container:hover .product__price {
  cursor: pointer;
  color: var(--red);
}

.product__image:hover {
  cursor: pointer;
  border: 1px solid var(--red);
}

@media (min-width: 500px) {
  .product__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    max-width: 90%;
    margin: 0 auto;
    column-gap: 0rem;
  }
}

@media (min-width: 768px) {
  .product__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    max-width: 60%;
  }
}

/* FILTERCARD------------------------------------------------------------------------------------------------ */

.filter__btn {
  background: transparent;
  font-size: var(--fontSize-XS);
  color: var(--red);
  text-shadow: var(--shadow);
  position: relative;
  z-index: 101;
  text-align: left;
}

.filter__btn:hover {
  cursor: pointer;
  color: var(--grey);
}

.filter__li {
  font-size: var(--fontSize-XXS);
  margin: 0.5rem;
  position: relative;
  z-index: 101;
}

.filter__li:hover {
  cursor: pointer;
  color: var(--red);
}

ul {
  list-style: none;
}

.filter__container {
  display: flex;
  flex-direction: column-reverse;
  width: 7rem;
  flex-shrink: 0;
  margin-left: auto;
  position: fixed;
  z-index: 100;
  bottom: 2rem;
  padding-left: 1rem;
}

.filter__list {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  margin-bottom: 1rem;
  margin-top: 1rem;
  gap: 0.5rem;
  /* justera transparensen på backgrunden: */
  background: rgba(17, 16, 16, 0.7);
  border: 1px solid var(--grey);
  border-radius: 6px;
  top: 100%;
}

@media (min-width: 768px) {
  .filter__container {
    position: fixed;
    width: 9rem;
    top: 50%;
    right: 1rem;
    bottom: auto;
    /* left: auto; */
    align-items: center;
    margin-right: 2vw;
    flex-direction: column;
    transform: translateY(-50%);
  }
  .filter__list {
    bottom: 100%;
  }
  .filter__li {
    font-size: var(--fontSize-XS);
  }
}
